*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1{
    width: 100%;
    height:100vh;
    background-color: aqua;
    background-image: url("img/bgc\ box1.jpg");
    background-size: 100% 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box1 .p12{
    display:flex;
    width: 30%;
    background-color:rgb(232 236 244);
}
.box1 .p11{
    display: flex;
    width: 30%;
    height:80%;
    background-color:rgba(167,167,167,0.6);
    flex-direction: column-reverse;
    justify-content: space-around;
}
.box1 .c111{
    background-color: aqua;
    height:55%;
    width: 100%;
}
.box1 .g111{
    width:40%;
    height: 15%;
    background-color: aliceblue;
    margin: 10% ;
    padding-top: 2%;
}
.box1 .p12{
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    outline: 6px solid RGBA(227, 242, 253,0.4);
}
.box1 .c12{
    width: 100%;
    height:45%;
    background-color: aqua;
    background-image: url("img/bgbox1.jpg");
    background-size: 100% 100%;
}