*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1{
    width: 100%;
    height:100vh;
    background-color: aqua;
    background-image: url("img/bgc\ box1.jpg");
    background-size: 100% 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box1 .p12{
    display:flex;
    width: 30%;
    background-color:rgb(232 236 244);
}
.box1 .p11{
    display: flex;
    width: 30%;
    height:80%;
    background-color:rgba(167,167,167,0.6);
    flex-direction: column-reverse;
    justify-content: space-around;
}
.box1 .c111{
    background-color:green;
    height:65%;
    width: 100%;
}
.box1 .g111{
    width:45%;
    height: 15%;
    background-color: yellow;
    margin: 10% ;
    padding: 2%;
    display: flex;
    border-radius: 15px;
    align-items: center;
}
.box1 .pg111{
    margin-left: 5%;
    font-size: 0.8rem;
}
.box1 h4{
    margin: -5% 10%;
}
.box1 h1:first-of-type{
    margin: 7% 10%;
    font-family: "Google Sans Code";
    color: aliceblue;
}
.box1 .c112{
    background: linear-gradient(to right ,#BF092F,#16476A);
    background-clip: text;
    color: transparent;
    text-shadow: none;
    width: 100%;
    height: 20%;
    margin: -3% 10%;
    font-size: 2.5rem;
    font-weight: 900;
    font-family:"Google Sans Code";
}
.box1 .p12{
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    outline: 6px solid RGBA(227, 242, 253,0.4);
}
.box1 .c12{
    width: 100%;
    height:45%;
    background-color: aqua;
    background-image: url("img/bgbox1.jpg");
    background-size: 100% 100%;
}